<div class="animated fadeIn">
  <div class="card">
    <div class="card-header bg-primary">
      <i class="fa fa-upload"></i> Excel upload
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6"> 
              <form>
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Upload input files</label>
                    <p-fileUpload name="demo[]" customUpload="true" (onSelect)="incomingfile($event)" (uploadHandler)="onUpload($event)" multiple="multiple"
                      accept=".xlsx" maxFileSize="1000000">
                      <!-- <ng-template pTemplate="toolbar">
                        <div>Please uploaded Associates or Event information or Event Summary files</div>
                      </ng-template> -->
                      <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                      </ng-template>
                    </p-fileUpload>
                    <small id="emailHelp" class="form-text text-danger">Please upload Associate & event summary file before event information file.</small>
                  </div>
                  <div>
          
                  </div>
                </form>
          </div>
          <div class="col-md-6">
            <!--<label>Select </label> <br />
                                   <p-radioButton name="groupname" [value]="true" [(ngModel)]="isIgnoreInalidData" label="Insert only valid record"></p-radioButton> <br />
                                   <p-radioButton name="groupname" [value]="false" [(ngModel)]="isIgnoreInalidData" label="show invalid records & do not insert"></p-radioButton>-->

          </div>
        </div>
      </div>
    
      <p-toast [style]="{marginTop: '80px'}"></p-toast>
    </div>
  </div>

</div>
<br>

<!--<div *ngIf="associateErrorMsgs">
  <ul>
    <li *ngFor="let rows of associateErrorMsgs">Row number: {{rows.row}}
        <ul>
            <li *ngFor="let error of rows.errorMsg">
              <span>{{error}}</span>
            </li>
          </ul>
    </li>
  </ul>
  </div>-->
