<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Associates</h5>
                  <span class="h2 font-weight-bold mb-0">{{totalAssociates}}</span>
                </div>
                <div class="col-auto">
                  <div class="" style="font-size: 3em; min-height: 64px;">
                    <i class="fa fa-id-badge"></i>
                  </div>
                </div>
              </div>
              <!--<p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last year</span>
              </p>-->
            </div>
          </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Volunteers</h5>
                  <span class="h2 font-weight-bold mb-0">{{totalVolunteers}}</span>
                </div>
                <div class="col-auto">
                  <div class=""  style="font-size: 3em; min-height: 64px;">
                    <i class="fa fa-users"></i>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Events</h5>
                  <span class="h2 font-weight-bold mb-0">{{totalEvents}}</span>
                </div>
                <div class="col-auto">
                  <div class=""  style="font-size: 3em; min-height: 64px;">
                    <i class="fa fa-calendar-check-o"></i>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Volunteered Hrs</h5>
                  <span class="h2 font-weight-bold mb-0">{{totalVolunteerHours}}</span>
                </div>
                <div class="col-auto">
                  <div style="font-size: 3em; min-height: 64px;">
                    <!--class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"-->
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Volunteers Trend</h4>
          <!-- <div class="small text-muted">November 2017</div> -->
        </div><!--/.col-->
       <!--/.col-->
      </div><!--/.row-->
      <!-- <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div> -->
      <div class="chart-wrapper">
          <div id="volunteersGraph" style="width: 100%; min-height: 550px;"></div>
        </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-lg mb-sm-2 mb-0" *ngFor="let data of topData">
          <div class="text-muted">{{data.key}}</div>
          <strong>
            {{data.count}} Volunteers ({{data.percent.toFixed(2)}}%)</strong>
          <div class="progress progress-xs mt-2" style="background-color:white;">
            <div class="progress-bar bg-success" role="progressbar" [style.width]="data.percent + '%'" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <!--<div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Unique</div>
          <strong>24.093 Users (20%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Pageviews</div>
          <strong>78.706 Views (60%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">New Users</div>
          <strong>22.123 Users (80%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Bounce Rate</div>
          <strong>40.15%</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <!--/.card-->
 <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          New Vs Recurring Volunteers
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div id="doubleLineChart" style="width: 100%; min-height: 550px;"></div>
              </div>
            </div>
          </div>
         
          <br>
          <!-- <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <th class="text-center">Country</th>
                <th>Usage</th>
                <th class="text-center">Payment Method</th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Yiorgos Avraamu</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-us h4 mb-0" title="us" id="us"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>50%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>10 sec ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Avram Tarasios</div>
                  <div class="small text-muted">

                    <span>Recurring</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-br h4 mb-0" title="br" id="br"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>10%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-visa" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>5 minutes ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-warning"></span>
                  </div>
                </td>
                <td>
                  <div>Quintin Ed</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-in h4 mb-0" title="in" id="in"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>74%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 74%" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-stripe" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>1 hour ago</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-secondary"></span>
                  </div>
                </td>
                <td>
                  <div>Enéas Kwadwo</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-fr h4 mb-0" title="fr" id="fr"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>98%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-paypal" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Last month</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Agapetus Tadeáš</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-es h4 mb-0" title="es" id="es"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>22%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-google-wallet" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Last week</strong>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Friderik Dávid</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-pl h4 mb-0" title="pl" id="pl"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>43%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa fa-cc-amex" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>Yesterday</strong>
                </td>
              </tr>
            </tbody>
          </table> -->

          <p-table #dt [value]="topVolunteers">
            <ng-template pTemplate="header">
                <tr>
                    <th>Associate Id</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Business Unit</th>
                    <th>Location</th>
                    <th>Total Volunteered</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-volunteer>
                <tr>
                    <td>{{volunteer.associate.id}}</td>
                    <td>{{volunteer.associate.name}}</td>
                    <td>{{volunteer.associate.designation}}</td>
                    <td>{{volunteer.associate.businessUnit}}</td>
                    <td>{{volunteer.associate.baseLocation}}</td>
                    <td><span class="" style="cursor: pointer;" (click)="getEventData()">{{volunteer.count}}</span></td>
                </tr>
            </ng-template>
        </p-table>
        
        </div>
      </div>
      

    </div><!--/.col-->
  </div><!--/.row-->
</div>


<p-dialog header="Title" [modal]="true" [(visible)]="eventGridData" [style]="{width: '70%', height: '80%'}">
  <div *ngIf="eventGridData">
      <!-- <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
         <button type="button" icon="fa fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV({selectionOnly:true})" style="float:left">All Data</button>
          <button type="button" class="btn btn-primary fas fa-file-export" iconPos="left" (click)="dt.exportCSV()"
            style="float:right">Export CSV</button>
        </div>
      </ng-template> -->
     
    <p-table #dtEvent [value]="eventGridData" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Event Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>Focus Area</th>
                <th>Lives Impacted</th>
                <th>Total Volunteers</th>
                <th>Total Volunteering Hours</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
            <tr>
                <td>{{event.id}}</td>
                <td>{{event.name}}</td>
                <td>{{event.date}}</td>
                <td>{{event.baseLocation}}</td>
                <td>{{event.project}} - {{event.category}}</td>
                <td>{{event.livesImpacted}}</td>
                <td>{{event.totalVolunteers}}</td>
                <td>{{event.totalTravelHours + event.totalVolunteerHours}}</td>
            </tr>
        </ng-template>
    </p-table>

  </div>
</p-dialog>
